"*":
  "autocomplete-clang": {}
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    scopeBlacklist: [
      ".source.gfm"
    ]
  core:
    customFileTypes:
      "source.gfm": [
        "md.html"
      ]
    disabledPackages: [
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: [
      "symbols-view"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    atomicSoftTabs: false
    fontFamily: "roboto mono"
    fontSize: 16
    preferredLineLength: 100
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "602e82fb-773b-8686-c7eb-20ed5f79c023"
  "markdown-preview":
    useGitHubStyle: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".python.source":
  editor:
    tabLength: 4
